.Breadcrumbs {
  display: flex;
  justify-content: center;
  color: #18a8e1;

  &__List {
    display: flex;
    text-transform: uppercase;
  }

  // hide last splitter
  li:last-child span {
    display: none;
  }

  @media screen and (min-width: 320px) and (orientation: portrait) {
    flex-direction: column;
    align-items: center;

    li {
      margin-bottom: 0.7em;
    }
  }
}

.splitter {
  padding: 0 10px;
  &--selected {
    font-weight: bold;
    font-size: 25px;
    margin-top: -5px;
  }

  @media screen and (min-width: 320px) and (orientation: portrait) {
    display: none;
  }
}

