.Button {
  border: 1px solid;
  box-sizing: border-box;
  height: 45px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;

  background-color: #fff;
  color: #18a8e1;
  padding: 5px 20px;

  &--Card {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
    width: 100%;
  }

  &--Card:hover {
    background-color: #e74c3c;
    border-color: #e74c3c;
  }
}

