.Card {
  position: relative;
  margin-right: 10px;
  border: 1px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  padding: 20px;
  text-align: center;
  // min-height: 300px;
  // height: 470px;
  cursor: pointer;
  transition: margin 300ms linear 0ms;


  &--Small {
    min-height: 300px;
  }

  &--Big {
    min-height: 450px;
  }

  &__Title, &__Price, &__Validity { color: #26ade2 }
  &__Title {
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  &__Discount {
    color: #c8c8c8;
    margin: 0;
    font-size: 14px;
    font-weight: normal; }
  &__Validity {
    margin: 0;
  }
  &__Wrapper {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    // min-height: 500px;

    li {
      flex-grow: 1;
      flex-basis: 0;
    }

    @media screen and (min-width: 320px) and (orientation: portrait) {
      flex-direction: column;
      transition: none;

      li {
        margin-bottom: 1em;
      }
    }
  }

  &__Benefits {
    font-size: 14px;
    list-style: none;
    text-align: left;
    margin-left: 25px;
    padding: 0;
    margin: 0;
  }
  &__Benefits li {
    padding-left: 1em;
    text-indent: -.7em;
    margin-bottom: 0.5em;
  }
  &__Benefits li::before {
    content: "• ";
    color: #18a8e1;
  }

  &__Button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }

}
.Card:hover {
  margin-top: -25px;
};

