.App {
  overflow-x: hidden;

  &__Header {
    background-color: #222;
    color: white;
    box-shadow: 0px 1px 1px #d8d8d8;
  }

  &__Menu {
    background-color: #f8f8f8;
    color: #bbbbbb;
    padding: 30px;
    text-transform: uppercase;

    &--Wrapper {
      width: 80%;
      margin: auto;
    }

    i { margin-right: 10px; }

    @media screen and (min-width: 320px) and (orientation: portrait) {
      text-align: center;
      padding: 15px;

      &--Wrapper {
        width: 100%;
      }

      i {
        display: block;
        margin: 0.5em;
      }

      span {
        font-size: 0.9em;
      }

      li {
        flex-grow: 1;
        flex-basis: 0;
      }
    }
  }

  &__Footer {
    background-color: #000;
    color: #fff;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;

    &__Links {
      font-size: 10px;

      & li {
        margin-right: 0.5em;
      }
      & li:after {
        content: "|";
        padding-left: 0.5em;
      }
      & li:last-child:after {
        content: '';
        padding-left: 0;
      }
    }
  }

  &__Logo {
    width: 200px;
    padding: 15px 20px;
  }
}

.Logo {
  width: 175px;
  margin: auto;
}


.Description {
  text-align: center;
  width: 50%;
  margin: auto;
  color: #2c292a;
  font-size: 16px;
  line-height: 1.5;
}

.opacity-50 { opacity: 0.5; }
strong { font-weight: bold; }

.Spacing {
  &__80 { margin-bottom: 80px; }
  &__50 { margin-bottom: 50px; }
  &__40 { margin-bottom: 40px; }
  &__30 { margin-bottom: 30px; }
  &__20 { margin-bottom: 20px; }
  &__10 { margin-bottom: 10px; }
}

h1 { font-weight: bold; }

.Img {
  &--100 { width: 100px; }
}

.highlight {
  background-color: #18a8e1;
  color: #fff;
  padding: 3px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 5px;
}

.clock {
  font-size: 25px !important;
  vertical-align: middle;
  margin-left: 5px;
  color: #000;
}

.deadline {
  flex-direction: column;
  display: inline-flex;
  align-items: baseline;
  margin-left: 5px;
  vertical-align: top;
  font-size: 12px;
}

.summer-saver { margin-top: -4px; }
.black { color: #000; }
.red { color: #e74c3c; }
.blue { color: #18a8e1; }
.white { color: #fff; }

.center { text-align: center; }

a {
  cursor: pointer;
  text-decoration: none;
}

.Text {
  &--10 { font-size: 10px; }
}

.uppercase { text-transform: uppercase; }

.Margin {
  &__Right--1em { margin-right: 1em; }
  &__Right--1p5em { margin-right: 1.5em; }
}
